<div fxLayout="column" fxLayoutGap="1rem">
  <form [formGroup]="blogForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" formControlName="content"></textarea>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-raised-button type="button" color="primary" routerLink="/blogs">Cancle</button>
      <button mat-raised-button type="submit" color="primary" (click)="createBlog()">Post</button>
    </div>
  </form>
</div>
